---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/shared/Navigation.astro";
import Footer from "../components/shared/Footer.astro";
import Hero from "../components/sections/Hero.astro";
import FeaturedProjects from "../components/sections/FeaturedProjects.astro";
import Metrics from "../components/sections/Metrics.astro";
import Achievements from "../components/sections/Achievements.astro";
import Stack from "../components/sections/Stack.astro";
import Experience from "../components/sections/Experience.astro";
import Testimonials from "../components/sections/Testimonials.astro";
import Education from "../components/sections/Education.astro";
import Services from "../components/sections/Services.astro";
import ContactForm from "../components/sections/ContactForm.astro";
---

<Layout>
  <Navigation />
  <main id="main-content">
    <Hero />
    <FeaturedProjects />
    <Metrics />
    <Achievements />
    <Stack />
    <Experience />
    <Testimonials />
    <Education />
    <Services />
    <ContactForm />
  </main>
  <Footer />
</Layout>
